body {
  background-color: antiquewhite;
}

body h1 {
  font-size: 20px;
}
body h2 {
  font-size: 18px;
}
body h3 {
  font-size: 15px;
}
body p {
  font-size: 14px;
}

#sideContent {
  width: 30%;
  float: left;
}

#sideContent img {
  padding-top: 50px;
  padding-left: 50px; 
  width:  400px;
  height: 300px;
}
#menuBar ul {
  list-style: none;
}

#menuBar ul li { 
  font-family:Georgia,serif,Times; 
  font-size:18px;
  padding-bottom: 5px;
}

#menuBar ul li a { 
  display:block; 
  width:400px; 
  height:28px; 
  background-color:#fdd47c; 
  padding-left:10px;
  text-decoration:none; 
  color:#060707;
  border-radius: 10px 10px 10px 10px;
}

/*#menuBar ul li a:hover { 
  -moz-transform:rotate(-5deg); 
  -moz-box-shadow:10px 10px 20px #fdf07c;
  -webkit-transform:rotate(-5deg); 
  -webkit-box-shadow:10px 10px 20px #fdf07c;
  transform:rotate(4deg); box-shadow:10px 10px 20px #000000; 
  margin-left: 10px;
}*/



.title {
  color: rgba(25, 199, 129, 0.911);
  border-bottom: 5px solid rgba(25, 199, 129, 0.911);
  /*padding-top: 5px;*/
  padding-bottom: 5px;
}

#mainInfo {
  width: 70%;
  float: left;
  padding-top: 50px;
  width: 800px;
  padding-left: -100px;
}

#mainInfo h3 {
  font-size: 22px;
}

/*#whoAmI
#academicFormation*/
.container {
  background-color: white;
  width: 100%;
  padding: 5px 5px 5px 15px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}